body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

form {
  text-align: center;
}

form button {
  margin: 0.2rem 0 0.5rem;
}

.form__button {
  margin-top: 1rem;
}

.form__types {
  margin-top: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5vw;
}

table {
  margin-top: .5rem;
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #000;
}

table td,
table th {
  padding: .5rem;
}

@media (max-width: 700px) {
  .forms {
    grid-template-columns: 1fr;
  }
}

input:not([type='button']) {
  padding: 0.8rem;
  text-align: center;
}

#result-container {
  margin-top: 1rem;
  text-align: center;
}

.draw-result {
  margin-top: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.draw-result span {
  padding: 0.3rem;
}